{% extends 'base.html.twig' %}

{% block title %}Hello CalendarController!{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="https://fullcalendar.io/releases/core/4.0.1/main.min.css">
<link rel="stylesheet" href="https://fullcalendar.io/releases/daygrid/4.0.1/main.min.css">
<link rel="stylesheet" href="https://fullcalendar.io/releases/timegrid/4.0.1/main.min.css">
<link rel="stylesheet" href="{{ asset('assets/css/calendar/hamburgers.css')}}">
<link rel="stylesheet" href="https://fullcalendar.io/releases/list/4.0.1/main.min.css">
<link rel="stylesheet" href="{{ asset('assets/css/calendar/surcharge.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/calendar/calendar.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/calendar/sideBar.css')}}">

{% endblock %}

{% block body %}
    <div class="content">
    <!--         SIDEBAR            -->
    <div class="sidebar-header">
        <div class="toggle_btn2-open">
            <div class="toggle_btn">
                <div class="hamburger hamburger--arrow is-active" >
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar">
        
    </div>
        <div class=" spaceCalendar">
            {% include '@Calendar/calendar.html' %}
        </div>
        
    </div>
    
        
{% endblock %}

{% block javascripts %}
    <script src="https://fullcalendar.io/releases/core/4.0.1/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/interaction/4.0.1/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/daygrid/4.0.1/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/timegrid/4.0.1/main.min.js"></script>     
    <script src="https://fullcalendar.io/releases/list/4.0.1/main.min.js"></script>
    <script >
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');
            var calendar = new FullCalendar.Calendar(calendarEl, {

                defaultView: 'dayGridMonth',
                height: '650',
                editable: true,

                eventSources: [
                    {
                        url: "{{ path('fc_load_events') }}",
                        type: "POST",
                        data: {
                            filters: {},
                        },
                        error: () => {
                            // alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,list',
                },
                buttonText: {
                    today:    "Aujourd'hui",
                    month:    'Mois',
                    week:     'Semaine',
                    day:      'Jour',
                    list:     'liste',
                },

                firstDay:1,
                plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ], // https://fullcalendar.io/docs/plugin-index
                timezone: ('Europe/Paris'),

            });
            calendar.setOption('locale', 'fr');
            
            calendar.render();
        });


            /**
             * forEach implementation for Objects/NodeLists/Arrays, automatic type loops and context options
             *
             * @private
             * @author Todd Motto
             * @link https://github.com/toddmotto/foreach
             * @param {Array|Object|NodeList} collection - Collection of items to iterate, could be an Array, Object or NodeList
             * @callback requestCallback      callback   - Callback function for each iteration.
             * @param {Array|Object|NodeList} scope=null - Object/NodeList/Array that forEach is iterating over, to use as the this value when executing callback.
             * @returns {}
             */
              var forEach=function(t,o,r){if("[object Object]"===Object.prototype.toString.call(t))for(var c in t)Object.prototype.hasOwnProperty.call(t,c)&&o.call(r,t[c],c,t);else for(var e=0,l=t.length;l>e;e++)o.call(r,t[e],e,t)};
          
              var hamburgers = document.querySelectorAll(".hamburger");
              if (hamburgers.length > 0) {
                forEach(hamburgers, function(hamburger) {
                  hamburger.addEventListener("click", function() {
                    this.classList.toggle("is-active");
                  }, false);
                });
              }
            </script>
    <script src="{{ asset('assets/js/calendar/sideBar.js') }}"></script>

{% endblock %}
