{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}

    {% if editMode %}
        <h1>Modification d'un événement</h1>
    {% else %}
        <h1>Création d'un événement</h1>
    {% endif %}
<div class="container-fluid">
    {{ form_start(eventForm) }}
   <div class="row">     
        <div class="col-md-6">
        <div class="form-group">
            <label for="event_form_title">Titre :</label>
            {{ form_widget(eventForm.title, {'attr': {'placeholder': 'Titre de l\'événement.', "class": "form-control form-mediality"} }) }}
        </div>
        <div class="form-group">
            <label for="event_form_description">Description :</label>
            {{ form_widget(eventForm.description, {'attr': {'placeholder': 'Description de l\'événement.', "class": "form-control form-mediality"}}) }}
        </div>
        <div class="form-group">
            <label for="event_form_category">Catégorie :</label>
            {{ form_widget(eventForm.category, {'attr': {'placeholder': 'Categorie de l\'événement.', "class": "form-control form-mediality"} }) }}
        </div>
        <div class="form-group">
            <label for="event_form_upload">Pièce jointe (JPG, JPEG, PNG, GIF, PDF, X-PDF) :</label>
            {{ form_widget(eventForm.upload) }}
        </div>
        <div class="form-group">
            <label for="event_form_comment">Observations :</label>
            {{ form_widget(eventForm.comment, {'attr': {'placeholder': 'Commentaire sur l\'événement.', "class": "form-control form-mediality"}}) }}
        </div>
    </div>
    <div class="col-md-6">
            <hr>
            <div class="form-row">
              <div class="col">
                <label for="event_form_dateStart_date">Date de début :</label>
                {{ form_widget(eventForm.dateStart.date, {'attr': {"class": ""}}) }}
              </div>
              <div class="col">
                <label for="event_form_dateStart_time">Heure de debut :</label>
                {{ form_widget(eventForm.dateStart.time, {'attr': {"class": ""}}) }}
              </div>
            </div>
            <hr>
            <div class="form-row">
              <div class="col">
                <label for="event_form_dateEnd_date">Date de fin :</label>
                {{ form_widget(eventForm.dateEnd.date, {'attr': {"class": ""}}) }}
              </div>
              <div class="col">
                <label for="event_form_dateEnd_time">heure de fin :</label>
                {{ form_widget(eventForm.dateEnd.time, {'attr': {"class": ""}}) }}
              </div>
            </div>
            <hr>
        <div class="form-group">
            <label for="event_form_place">Lieu ou Complexe :</label>
            {{ form_widget(eventForm.place, {'attr': {'placeholder': 'Lieu de l\'événement.', "class": "form-control form-mediality"}}) }}
        </div>
        <div class="form-group">
            <label for="event_form_address">Adresse :</label>
            {{ form_widget(eventForm.address, {'attr': {'placeholder': 'Adresse de l\'événement.', "class": "form-control form-mediality"}}) }}
        </div>
    
        <div class="form-group">
            <label for="event_form_nameContact">Nom du contact :</label>
            {{ form_widget(eventForm.nameContact, {'attr': {'placeholder': 'Titre de l\'événement.', "class": "form-control form-mediality"} }) }}
        </div>
        <div class="form-group">
            <label for="event_form_mailContact">E-mail du contact :</label>
            {{ form_widget(eventForm.mailContact, {'attr': {'placeholder': 'Description de l\'événement.', "class": "form-control form-mediality"}}) }}
        </div>
        <div class="form-group">
            <label for="event_form_phoneContact">Téléphone du contact :</label>
            {{ form_widget(eventForm.phoneContact, {'attr': {'placeholder': 'Titre de l\'événement.', "class": "form-control form-mediality"} }) }}
        </div>
        
    </div>

    <div class="container emp-profile col-12 col-md-8 col-lg-6  mt-5">
     <div class="row">
    <div class="col-md-12">
    <button class="btn btn-success btn-block">
        {% if editMode %}
        <i class="fa fa-check"></i>&nbsp&nbsp Enregistrer les modifications
        {% else %}
        <i class="fa fa-check"></i>&nbsp&nbsp Créer un événement
        {% endif %}
    </button>
    </div>
    </div>
    </div>
    </div>
    {{ form_end(eventForm) }}
</div>
{% endblock %}
