{% extends 'base.html.twig' %}

{% block body %}
 <h1>Liste des évènements</h1>

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Catégorie</th>
                <th>Ville</th>
                <th>Adresse</th>
                <th>Nom du contact</th>
                <th>E-mail</th>
                <th>Téléphone</th>
                <th>Commentaire</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.title }}</td>
                    <td>{{ event.description | slice(0, 30) }}</td>
                    <td>{{ event.dateStart | date('d/m/Y à H:i') }}</td>
                    <td>{{ event.dateEnd | date('d/m/Y à H:i') }}</td>
                    <td>{{ event.category }}</td>
                    <td>{{ event.place }}</td>
                    <td>{{ event.address }}</td>
                    <td>{{ event.nameContact }}</td>
                    <td>{{ event.mailContact }}</td>
                    <td>{{ event.phoneContact }}</td>
                    <td>{{ event.comment | slice(0, 15) }}...</td>
                    <td>
                        <a href="{{ path('eventSingle', {'id': event.id}) }}" class="btn btn-danger"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}