{% extends 'base.html.twig' %}
{% block title %}Event{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
     
        <tr>
            <th>Date de début</th>
            <td>{{ event.dateStart ? event.dateStart|date('d/m/Y  à H:i') : '' }}</td>
        </tr>
        <tr>
            <th>Date de fin</th>
            <td>{{ event.dateEnd ? event.dateEnd|date('d/m/Y  à H:i') : '' }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ event.title }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ event.description }}</td>
        </tr>
        <tr>
            <th>Catégorie</th>
            <td>{{ event.category }}</td>
        </tr>
        <tr>
            <th>Lieu</th>
            <td>{{ event.place }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ event.address }}</td>
        </tr>
        <tr>
            <th>Nom du contact</th>
            <td>{{ event.nameContact }}</td>
        </tr>
        <tr>
            <th>E-mail du contact</th>
            <td>{{ event.mailContact }}</td>
        </tr>
        <tr>
            <th>Commentaire sur l'évènement</th>
            <td>{{ event.comment }}</td>
        </tr>
        {% if event.upload is not null %}
        <tr>
            <th>Documents rattachés</th>
            <td><a href="{{ asset('uploads/' ~ event.upload) }}">Voir document</a></td>
        </tr>
        {% endif %}
        </tbody>

    </table> 
    <div class="row">
    <div class="col-md-6">
    <a href="{{ path('eventEdit', {'id': event.id}) }}" class="btn btn-primary btn-block"><i class="fa fa-pencil-alt"></i>&nbsp&nbsp&nbspModifier</a>
    </div>
    <div class="col-md-6">
    <form class="delete" action="{{ path('eventDelete', {'id': event.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer cet évenement?')">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
        <button type="submit" class="btn btn-danger btn-block"><i class="fa fa-trash-alt"></i>&nbsp&nbsp&nbspSupprimer</button>
    </form>
    </div>
{% endblock %}
