{% extends 'base.html.twig' %}

{% form_theme formLogin 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="container">

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {{ form_start(formLogin) }}
        {{ form_widget(formLogin, {'attr': {'class': 'task_field'}}) }}
    {{ form_end(formLogin) }}

    <a class="btn btn-danger btn-block" href="{{ path('register') }}">Vous n'avez pas de compte ? Cliquez ici</a>
</div>
{% endblock %}