{% extends 'base.html.twig' %}

{% form_theme formRegister 'bootstrap_4_layout.html.twig' %}

{% block title %} Mon compte{% endblock %}

{% block body %}
<div class="container">
    {{ form_start(formRegister) }}
    <div class="row login">  
        <div class="col-md-6">
            <div class="form-group">
                <label for="event_form_title">Prénom :</label>
                {{ form_widget(formRegister.firstname, {'attr': {'class': 'task_field'}}) }}
            </div>
        </div>  
        <div class="col-md-6">
            <div class="form-group">
                <label for="event_form_title">Nom :</label>
                {{ form_widget(formRegister.lastname, {'attr': {'class': 'task_field'}}) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="event_form_title">E-mail :</label>
                {{ form_widget(formRegister.email, {'attr': {'class': 'task_field'}}) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="event_form_title">Téléphone :</label>
                {{ form_widget(formRegister.phone, {'attr': {'class': 'task_field'}}) }}
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                {{ form_widget(formRegister.password, {'attr': {'class': 'task_field'}}) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="event_form_title">Equipe :</label>
                {{ form_widget(formRegister.team, {'attr': {'class': 'task_field'}}) }}
            </div>
        </div>
        <div class="col-md-6">
            <button type="submit" class='btn btn-success btn-block' >
            {% if updateMode %}
            <i class="fas fa-check"></i>&nbsp&nbsp Enregistrer les modifications
            {% else %}
            <i class="fas fa-check"></i>&nbsp&nbsp Inscription
            {% endif %}
            </button>
        </div>
    {{ form_end(formRegister) }}
    </div>
</div>
{% endblock %}