{% extends "base.html.twig" %}

{% block title %}: Créer une tâche{% endblock %}

{% form_theme formCreateCommand 'bootstrap_4_layout.html.twig' %}

{% block body %}
{% if editMode %}
        <h1>Modification d'une tâche</h1>
    {% else %}
        <h1>Affectation d'une tâche</h1>
    {% endif %}
<div class="container-fluid">
    {{ form_start(formCreateCommand) }}
    <div class="row">
        <div class="col-md-12">
        <div class="form-group">
           <label for="command_form_title">Titre :</label>
           {{ form_widget(formCreateCommand.title, {'attr': {'placeholder': 'Titre de la tâche', "class": "form-control form-mediality"} }) }}
        </div>
        <div class="form-group">
            <label for="command_form_description">Description :</label>
            {{ form_widget(formCreateCommand.description, {'attr': {'placeholder': 'Description du travail demandé', "class": "form-control form-mediality"} }) }}
        </div>
        <div class="form-group">
            <label for="command_form_nameApplicant">Nom du demandeur :</label>
            {{ form_widget(formCreateCommand.nameApplicant, {'attr': {'placeholder': 'Nom du demandeur', "class": "form-control form-mediality"} }) }}
        </div>
        <div class="form-group">
            <label for="command_form_observation">Observations :</label>
            {{ form_widget(formCreateCommand.observation, {'attr': {'placeholder': 'Observations sur la tâche', "class": "form-control form-mediality"} }) }}
        </div>
        </div>
        <div class="col-md-12 row">
            <div class="col-md-6"> 
        <div class="form-group">
            <label for="command_form_dateDelivery">Date de livraison :</label>
            {{ form_widget(formCreateCommand.dateDelivery, {'attr': {"class": " form-mediality"} }) }}
        </div>
            </div>
            <div class="col-md-6"> 
        <div class="form-group">
            <label for="command_form_dateDiffusion">Date de Diffusion :</label>
            {{ form_widget(formCreateCommand.dateDiffusion, {'attr': {"class": " form-mediality"} }) }}
        </div>
            </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
            <label for="">Journaliste (Equipe) :</label>
            {{ form_widget(formCreateCommand.users) }}
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
            <label >Liste des événements :</label>
            {{ form_widget(formCreateCommand.event) }}
        </div>
        </div>
    </div>
    <div class="container emp-profile col-12 col-md-8 col-lg-6  mt-5">
     <div class="row">
    <div class="col-md-12">
    <div class="form-group">
    <button type="submit" class='btn btn-success btn-block'>
            {% if editMode %}
            <i class="fa fa-check"></i>&nbsp&nbsp Enregistrer les modifications
            {% else %}
            <i class="fa fa-check"></i>&nbsp&nbsp Créer une tâche
            {% endif %}
        </button>
    </div>
    </div>
    </div>
    </div>
    {{ form_end(formCreateCommand) }}

</div>

{% endblock %}