{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des tâches</h1>

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Nom du demandeur</th>
                <th>Date de création</th>
                <th>Date de livraison</th>
                <th>Date de Diffusion</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.title }}</td>
                <td>{{ order.description | slice(0, 40) }} ...</td>
                <td>{{ order.nameApplicant }}</td>
                <td>{{ order.dateRequest | date('d / m / Y') }}</td>
                <td>{{ order.dateDelivery | date('d / m / Y') }}</td>
                <td>{{ order.dateDiffusion | date('d / m / Y') }}</td>
                <td>
                    <a href="{{ path('orderSingle', {'id': order.id}) }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}