{% extends 'base.html.twig' %}

{% block title %}: tâche {% endblock %}

{% block body %}
    <h1>Détails de la tâche : {{ order.event.title}}</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ order.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ order.description }}</td>
            </tr>
            <tr>
                <th>Observations</th>
                <td>{{ order.observation }}</td>
            </tr>
            <tr>
                <th>Date de la création de la tâche</th>
                <td>{{ order.dateRequest | date('d / m / Y') }}</td>
            </tr>
            <tr>
                <th>Date de livraison</th>
                <td>{{ order.dateDelivery | date('d / m / Y') }}</td>
            </tr>
            <tr>
                <th>Date de diffusion</th>
                <td>{{ order.dateDiffusion | date('d / m / Y') }}</td>
            </tr>
            <tr>
                <th>Journalistes concernés par la tâche</th>
                <td>{% for users in order.users %}

                        {{ users.firstname }} {{ users.lastname | upper }}
                        {% if loop.index < order.users|length %}
                            ,
                        {% endif %}
                {% endfor %}</td>
            </tr>
        </tbody>
    </table>
     <div class="container emp-profile col-12 col-md-8 col-lg-6  mt-5">
    <div class="row">
    <div class="col-12">
    <a href="{{ path('orderEdit', {'id': order.id}) }}" class="btn btn-primary btn-block"><i class="fa fa-pencil-alt"></i>&nbsp&nbsp Modifier</a>
    </div>
    <div class="col-12">
    <form class="delete" action="{{ path('orderDelete', {'id': order.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer cette commande?')">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
        <button type="submit" class="btn btn-danger btn-block"><i class="fa fa-trash-alt"></i>&nbsp&nbsp Supprimer</button>
    </form>
    </div>
    </div>
{% endblock %}
