{% extends 'base.html.twig' %}

{% block title %}: Mon compte{% endblock %}

{% block body %}
<style>
    h5{
        text-transform:capitalize;
    }
      .btn:before{
        width: 0px;
        height: 0px;
        transform: rotate(0deg);
      }
      
</style>

    <div class="container emp-profile col-12 col-md-8 col-lg-6  mt-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-img-settings text-center">
                        <img class="img-fluid rounded-circle" src="{{ asset('assets/image/profile.png') }}" alt=""/>
                    </div>
              
                </div>
            </div>

            <hr>
       
                <div class="col-md-12 mt-3 text-block">
                            <div class="row">
                         
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label><i class="far fa-user"></i>&nbsp&nbsp&nbsp<strong>Nom</strong></label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{app.user.firstname}} {{app.user.lastname}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label><i class="far fa-envelope"></i>&nbsp&nbsp&nbsp<strong>E-mail</strong></label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{app.user.email}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label><i class="fas fa-mobile-alt"></i>&nbsp&nbsp&nbsp<strong>Téléphone</strong></label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{app.user.phone}}</p>
                                </div>
                            
                            </div>
                </div>
                 <div class="container emp-profile col-12 col-md-8 col-lg-6  mt-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <a class=" bg-primary btn btn-primary btn-block" href="{{ path('userUpdate', {'id': app.user.id}) }}"><i class="fas fa-edit"></i>&nbsp&nbsp Modifier</a>
                                </div>
                                <div class="col-md-6">
                                    {% if is_granted('ROLE_ADMIN') %}
                                    
                                    <form class="delete" action="{{ path('userDelete', {'id': app.user.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer votre compte?')">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
                                            <button type="submit" class="bg-danger btn btn-danger btn-block"><i class="fas fa-trash-alt"></i>&nbsp&nbsp Supprimer</button>
                                    </form>   
                                    {% endif %}
                                </div>
                            </div>
                       </div>
    </div>
{% endblock %}
