{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<style>
    h5{
        text-transform:capitalize;
    }
      .btn:before{
        width: 0px;
        height: 0px;
        transform: rotate(0deg);
      }
</style>

    <div class="container emp-profile col-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img class="img-fluid rounded-circle" src="{{ asset('assets/image/profile.png') }}" alt=""/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                                <h5 class="text-center mt-2">
                                    {{app.user.lastname}} {{app.user.firstname}}
                                </h5>
                                <h6 class="text-center">
                                    {{app.user.status}}
                                </h6>
                        
                    </div>
                </div>
            </div>

            <hr>
       
                <div class="col-md-8 mt-3">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <label>User Id</label>
                                </div>
                                <div class="col-md-6 ">
                                    <p>{{app.user.id}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{app.user.lastname}} {{app.user.firstname}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{app.user.email}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{app.user.phone}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Profession</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{app.user.status}}</p>
                                </div>
                            </div>
                </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <a class=" bg-success btn btn-success btn-block" href="{{ path('userUpdate', {'id': app.user.id}) }}"><i class="fas fa-edit"></i>Modifier</a>
                                </div>
                                <div class="col-md-6">
                                    <form class="delete" action="{{ path('userDelete', {'id': app.user.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer votre compte?')">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
                                            <button type="submit" class="bg-danger btn btn-danger btn-block"><i class="fas fa-trash-alt"></i>Supprimer</button>
                                    </form>   
                                </div>
                            </div>
            
          
    </div>
{% endblock %}
