<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mediality :{% block title %}{% endblock %}</title>


    {% block stylesheets %}
     <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/base/fonts.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/base/reboot.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/base/grid.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/base/fullcalendar.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/base/util.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/base/animation.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/base/layout.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/base/color.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/base/breadcrumb.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/base/buttons.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/base/card.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/base/collapse.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/base/dropdown.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/base/modal.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/base/search.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/base/stick.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/base/tab.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/base/dynatable.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/base/table.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/base/waves.css') }}" media="screen">
        <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/base/form.css') }}" media="screen">
    {% endblock %}
</head>

<body>
    <header>

        <!-- - - - - - - - - -  -->
        <!-- TOPBAR             -->
        <!-- - - - - - - - - -  -->

        <div class="topbar">
            <div class="col-left col-w280">

                <div class="topbar-header">
                    App Title
                </div>

            </div>
            <div class="col-right">
                <div class="topbar-content">
                    <div class="flex-left">

                        <div class="main-search">
                            <form onsubmit="return false;">
                                <input type="text" placeholder="Search...">
                            </form>
                        </div>

                    </div>
                    
                    <div class="flex-right">
                        <div class="topbar-nav">
                            <ul>
                                
                                <li class="">
                                    <a href="javascript:void();" class="dropdown-toggle caret" data-toggle="dropdown">
                                        Nav Item 1
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">      
                                            Nav Item 1
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            Nav Item 2
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">
                                            Nav Item 3
                                        </a>
                                    </div>
                                </li>
            
                                <li class="">
                                    <a href="javascript:void();" class="dropdown-toggle nocaret" data-toggle="dropdown">
                                        <img src="{{ asset('assets/image/profile.png') }}" class="profile-picture rounded-circle">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#/?page=settings&amp;main=profile">
                                            <div class="dropdown-item-icon">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 55 55">
                                                    <path d="M55,27.5C55,12.337,42.663,0,27.5,0S0,12.337,0,27.5c0,8.009,3.444,15.228,8.926,20.258l-0.026,0.023l0.892,0.752 c0.058,0.049,0.121,0.089,0.179,0.137c0.474,0.393,0.965,0.766,1.465,1.127c0.162,0.117,0.324,0.234,0.489,0.348 c0.534,0.368,1.082,0.717,1.642,1.048c0.122,0.072,0.245,0.142,0.368,0.212c0.613,0.349,1.239,0.678,1.88,0.98 c0.047,0.022,0.095,0.042,0.142,0.064c2.089,0.971,4.319,1.684,6.651,2.105c0.061,0.011,0.122,0.022,0.184,0.033 c0.724,0.125,1.456,0.225,2.197,0.292c0.09,0.008,0.18,0.013,0.271,0.021C25.998,54.961,26.744,55,27.5,55 c0.749,0,1.488-0.039,2.222-0.098c0.093-0.008,0.186-0.013,0.279-0.021c0.735-0.067,1.461-0.164,2.178-0.287 c0.062-0.011,0.125-0.022,0.187-0.034c2.297-0.412,4.495-1.109,6.557-2.055c0.076-0.035,0.153-0.068,0.229-0.104 c0.617-0.29,1.22-0.603,1.811-0.936c0.147-0.083,0.293-0.167,0.439-0.253c0.538-0.317,1.067-0.648,1.581-1 c0.185-0.126,0.366-0.259,0.549-0.391c0.439-0.316,0.87-0.642,1.289-0.983c0.093-0.075,0.193-0.14,0.284-0.217l0.915-0.764 l-0.027-0.023C51.523,42.802,55,35.55,55,27.5z M2,27.5C2,13.439,13.439,2,27.5,2S53,13.439,53,27.5 c0,7.577-3.325,14.389-8.589,19.063c-0.294-0.203-0.59-0.385-0.893-0.537l-8.467-4.233c-0.76-0.38-1.232-1.144-1.232-1.993v-2.957 c0.196-0.242,0.403-0.516,0.617-0.817c1.096-1.548,1.975-3.27,2.616-5.123c1.267-0.602,2.085-1.864,2.085-3.289v-3.545 c0-0.867-0.318-1.708-0.887-2.369v-4.667c0.052-0.519,0.236-3.448-1.883-5.864C34.524,9.065,31.541,8,27.5,8 s-7.024,1.065-8.867,3.168c-2.119,2.416-1.935,5.345-1.883,5.864v4.667c-0.568,0.661-0.887,1.502-0.887,2.369v3.545 c0,1.101,0.494,2.128,1.34,2.821c0.81,3.173,2.477,5.575,3.093,6.389v2.894c0,0.816-0.445,1.566-1.162,1.958l-7.907,4.313 c-0.252,0.137-0.502,0.297-0.752,0.476C5.276,41.792,2,35.022,2,27.5z M42.459,48.132c-0.35,0.254-0.706,0.5-1.067,0.735 c-0.166,0.108-0.331,0.216-0.5,0.321c-0.472,0.292-0.952,0.57-1.442,0.83c-0.108,0.057-0.217,0.111-0.326,0.167 c-1.126,0.577-2.291,1.073-3.488,1.476c-0.042,0.014-0.084,0.029-0.127,0.043c-0.627,0.208-1.262,0.393-1.904,0.552 c-0.002,0-0.004,0.001-0.006,0.001c-0.648,0.16-1.304,0.293-1.964,0.402c-0.018,0.003-0.036,0.007-0.054,0.01 c-0.621,0.101-1.247,0.174-1.875,0.229c-0.111,0.01-0.222,0.017-0.334,0.025C28.751,52.97,28.127,53,27.5,53 c-0.634,0-1.266-0.031-1.895-0.078c-0.109-0.008-0.218-0.015-0.326-0.025c-0.634-0.056-1.265-0.131-1.89-0.233 c-0.028-0.005-0.056-0.01-0.084-0.015c-1.322-0.221-2.623-0.546-3.89-0.971c-0.039-0.013-0.079-0.027-0.118-0.04 c-0.629-0.214-1.251-0.451-1.862-0.713c-0.004-0.002-0.009-0.004-0.013-0.006c-0.578-0.249-1.145-0.525-1.705-0.816 c-0.073-0.038-0.147-0.074-0.219-0.113c-0.511-0.273-1.011-0.568-1.504-0.876c-0.146-0.092-0.291-0.185-0.435-0.279 c-0.454-0.297-0.902-0.606-1.338-0.933c-0.045-0.034-0.088-0.07-0.133-0.104c0.032-0.018,0.064-0.036,0.096-0.054l7.907-4.313 c1.36-0.742,2.205-2.165,2.205-3.714l-0.001-3.602l-0.23-0.278c-0.022-0.025-2.184-2.655-3.001-6.216l-0.091-0.396l-0.341-0.221 c-0.481-0.311-0.769-0.831-0.769-1.392v-3.545c0-0.465,0.197-0.898,0.557-1.223l0.33-0.298v-5.57l-0.009-0.131 c-0.003-0.024-0.298-2.429,1.396-4.36C21.583,10.837,24.061,10,27.5,10c3.426,0,5.896,0.83,7.346,2.466 c1.692,1.911,1.415,4.361,1.413,4.381l-0.009,5.701l0.33,0.298c0.359,0.324,0.557,0.758,0.557,1.223v3.545 c0,0.713-0.485,1.36-1.181,1.575l-0.497,0.153l-0.16,0.495c-0.59,1.833-1.43,3.526-2.496,5.032c-0.262,0.37-0.517,0.698-0.736,0.949 l-0.248,0.283V39.8c0,1.612,0.896,3.062,2.338,3.782l8.467,4.233c0.054,0.027,0.107,0.055,0.16,0.083 C42.677,47.979,42.567,48.054,42.459,48.132z"></path>
                                                </svg>
                                            </div>
                                            Account
                                        </a>
                                        <a class="dropdown-item" href="javascript:alert(&#39;sync&#39;);">
                                            <div class="dropdown-item-icon">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60.442 60.442">
                                                    <path d="M54.427,38.766C59.284,25.07,52.094,9.975,38.399,5.117c-1.044-0.368-2.185,0.176-2.554,1.216 c-0.369,1.041,0.175,2.185,1.216,2.554c11.617,4.121,17.717,16.926,13.597,28.542c-2.059,5.804-6.291,10.38-11.809,12.877 l3.438-9.692c0.369-1.042-0.175-2.185-1.216-2.554c-1.044-0.367-2.185,0.176-2.554,1.216l-4.91,13.846 c-0.369,1.041,0.175,2.185,1.216,2.554l13.116,4.65c0.222,0.078,0.447,0.116,0.669,0.116c0.823,0,1.594-0.513,1.885-1.332 c0.369-1.041-0.175-2.185-1.216-2.554l-8.174-2.899C47.313,50.659,52.075,45.395,54.427,38.766z"></path>
                                                    <path d="M6.015,21.677C1.158,35.373,8.348,50.468,22.043,55.326c0.222,0.078,0.447,0.116,0.669,0.116 c0.823,0,1.594-0.513,1.885-1.332c0.369-1.041-0.175-2.185-1.216-2.554C11.764,47.435,5.664,34.631,9.784,23.014 c2.059-5.804,6.291-10.381,11.809-12.877l-3.438,9.692c-0.369,1.042,0.175,2.185,1.216,2.554c0.222,0.078,0.447,0.116,0.669,0.116 c0.823,0,1.594-0.513,1.885-1.332l4.91-13.846c0.369-1.041-0.175-2.185-1.216-2.554L12.502,0.115 c-1.045-0.367-2.185,0.176-2.554,1.216c-0.369,1.041,0.175,2.185,1.216,2.554l8.175,2.9C13.129,9.783,8.366,15.048,6.015,21.677z"></path>
                                                </svg>
                                            </div>
                                            Synchroniser
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#/?page=settings">
                                            <div class="dropdown-item-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 54 54">
                                                    <path d="M51.22,21h-5.052c-0.812,0-1.481-0.447-1.792-1.197s-0.153-1.54,0.42-2.114l3.572-3.571   c0.525-0.525,0.814-1.224,0.814-1.966c0-0.743-0.289-1.441-0.814-1.967l-4.553-4.553c-1.05-1.05-2.881-1.052-3.933,0l-3.571,3.571   c-0.574,0.573-1.366,0.733-2.114,0.421C33.447,9.313,33,8.644,33,7.832V2.78C33,1.247,31.753,0,30.22,0H23.78   C22.247,0,21,1.247,21,2.78v5.052c0,0.812-0.447,1.481-1.197,1.792c-0.748,0.313-1.54,0.152-2.114-0.421l-3.571-3.571   c-1.052-1.052-2.883-1.05-3.933,0l-4.553,4.553c-0.525,0.525-0.814,1.224-0.814,1.967c0,0.742,0.289,1.44,0.814,1.966l3.572,3.571   c0.573,0.574,0.73,1.364,0.42,2.114S8.644,21,7.832,21H2.78C1.247,21,0,22.247,0,23.78v6.439C0,31.753,1.247,33,2.78,33h5.052   c0.812,0,1.481,0.447,1.792,1.197s0.153,1.54-0.42,2.114l-3.572,3.571c-0.525,0.525-0.814,1.224-0.814,1.966   c0,0.743,0.289,1.441,0.814,1.967l4.553,4.553c1.051,1.051,2.881,1.053,3.933,0l3.571-3.572c0.574-0.573,1.363-0.731,2.114-0.42   c0.75,0.311,1.197,0.98,1.197,1.792v5.052c0,1.533,1.247,2.78,2.78,2.78h6.439c1.533,0,2.78-1.247,2.78-2.78v-5.052   c0-0.812,0.447-1.481,1.197-1.792c0.751-0.312,1.54-0.153,2.114,0.42l3.571,3.572c1.052,1.052,2.883,1.05,3.933,0l4.553-4.553   c0.525-0.525,0.814-1.224,0.814-1.967c0-0.742-0.289-1.44-0.814-1.966l-3.572-3.571c-0.573-0.574-0.73-1.364-0.42-2.114   S45.356,33,46.168,33h5.052c1.533,0,2.78-1.247,2.78-2.78V23.78C54,22.247,52.753,21,51.22,21z M52,30.22   C52,30.65,51.65,31,51.22,31h-5.052c-1.624,0-3.019,0.932-3.64,2.432c-0.622,1.5-0.295,3.146,0.854,4.294l3.572,3.571   c0.305,0.305,0.305,0.8,0,1.104l-4.553,4.553c-0.304,0.304-0.799,0.306-1.104,0l-3.571-3.572c-1.149-1.149-2.794-1.474-4.294-0.854   c-1.5,0.621-2.432,2.016-2.432,3.64v5.052C31,51.65,30.65,52,30.22,52H23.78C23.35,52,23,51.65,23,51.22v-5.052   c0-1.624-0.932-3.019-2.432-3.64c-0.503-0.209-1.021-0.311-1.533-0.311c-1.014,0-1.997,0.4-2.761,1.164l-3.571,3.572   c-0.306,0.306-0.801,0.304-1.104,0l-4.553-4.553c-0.305-0.305-0.305-0.8,0-1.104l3.572-3.571c1.148-1.148,1.476-2.794,0.854-4.294   C10.851,31.932,9.456,31,7.832,31H2.78C2.35,31,2,30.65,2,30.22V23.78C2,23.35,2.35,23,2.78,23h5.052   c1.624,0,3.019-0.932,3.64-2.432c0.622-1.5,0.295-3.146-0.854-4.294l-3.572-3.571c-0.305-0.305-0.305-0.8,0-1.104l4.553-4.553   c0.304-0.305,0.799-0.305,1.104,0l3.571,3.571c1.147,1.147,2.792,1.476,4.294,0.854C22.068,10.851,23,9.456,23,7.832V2.78   C23,2.35,23.35,2,23.78,2h6.439C30.65,2,31,2.35,31,2.78v5.052c0,1.624,0.932,3.019,2.432,3.64   c1.502,0.622,3.146,0.294,4.294-0.854l3.571-3.571c0.306-0.305,0.801-0.305,1.104,0l4.553,4.553c0.305,0.305,0.305,0.8,0,1.104   l-3.572,3.571c-1.148,1.148-1.476,2.794-0.854,4.294c0.621,1.5,2.016,2.432,3.64,2.432h5.052C51.65,23,52,23.35,52,23.78V30.22z"></path>
                                                    <path d="M27,18c-4.963,0-9,4.037-9,9s4.037,9,9,9s9-4.037,9-9S31.963,18,27,18z M27,34c-3.859,0-7-3.141-7-7s3.141-7,7-7   s7,3.141,7,7S30.859,34,27,34z"></path>
                                                </svg>
                                            </div>
                                            Réglages
                                        </a>
                                        <a class="dropdown-item" href="#/?page=settings&amp;main=support">
                                            <div class="dropdown-item-icon">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 37.239 37.239">
                                                    <path d="M18.62,37.239C8.354,37.239,0,28.886,0,18.62S8.354,0,18.62,0S37.239,8.353,37.239,18.62S28.887,37.239,18.62,37.239z M18.62,0.801c-9.826,0-17.819,7.993-17.819,17.818S8.794,36.438,18.62,36.438c9.825,0,17.818-7.993,17.818-17.818 S28.445,0.801,18.62,0.801z"></path>
                                                    <path d="M18.62,28.704c-5.561,0-10.084-4.523-10.084-10.084S13.06,8.536,18.62,8.536s10.084,4.523,10.084,10.084 S24.181,28.704,18.62,28.704z M18.62,9.336c-5.119,0-9.283,4.164-9.283,9.283s4.164,9.283,9.283,9.283s9.283-4.164,9.283-9.283 S23.739,9.336,18.62,9.336z"></path>
                                                    <path d="M12.537,36.194c-0.044,0-0.09-0.008-0.134-0.023c-0.208-0.073-0.317-0.303-0.243-0.511l2.85-8.046 c0.073-0.208,0.302-0.318,0.511-0.243c0.208,0.073,0.317,0.303,0.243,0.511l-2.85,8.046C12.856,36.091,12.702,36.194,12.537,36.194 z"></path>
                                                    <path d="M21.853,9.892c-0.044,0-0.09-0.008-0.134-0.023c-0.208-0.073-0.317-0.303-0.243-0.511l2.85-8.045 c0.073-0.208,0.302-0.316,0.511-0.243c0.208,0.073,0.317,0.303,0.243,0.511l-2.85,8.045C22.172,9.79,22.018,9.892,21.853,9.892z"></path>
                                                    <path d="M9.492,15.788c-0.044,0-0.09-0.008-0.134-0.023l-8.046-2.85c-0.208-0.073-0.317-0.303-0.243-0.511 c0.073-0.208,0.303-0.317,0.511-0.243l8.046,2.85c0.208,0.073,0.317,0.303,0.243,0.511C9.812,15.685,9.657,15.788,9.492,15.788z"></path>
                                                    <path d="M35.793,25.103c-0.044,0-0.09-0.008-0.134-0.023l-8.045-2.85c-0.208-0.073-0.317-0.303-0.243-0.511 c0.072-0.208,0.303-0.316,0.511-0.243l8.045,2.85c0.208,0.073,0.317,0.303,0.243,0.511C36.112,25,35.958,25.103,35.793,25.103z"></path>
                                                    <path d="M5.967,9.744c-0.075,0-0.151-0.021-0.219-0.065C5.563,9.558,5.511,9.31,5.632,9.125c0.105-0.161,2.638-3.981,7.26-5.528 c0.211-0.073,0.437,0.043,0.506,0.252c0.07,0.21-0.042,0.437-0.252,0.506c-4.36,1.46-6.819,5.171-6.844,5.208 C6.226,9.679,6.097,9.744,5.967,9.744z"></path>
                                                    <path d="M15.248,3.596c-0.109,0-0.21-0.04-0.279-0.11c-0.08-0.07-0.12-0.18-0.12-0.29s0.04-0.21,0.12-0.28 c0.14-0.14,0.41-0.149,0.56,0c0.08,0.08,0.12,0.181,0.12,0.28c0,0.11-0.05,0.21-0.12,0.29C15.448,3.556,15.349,3.596,15.248,3.596z "></path>
                                                </svg>
                                            </div>
                                            Support
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#/?page=settings&amp;main=feedback">
                                            <div class="dropdown-item-icon">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.013 512.013">
                                                    <path d="M505.052,0.675c-4.181-1.579-8.896-0.32-11.819,3.072c-79.317,92.544-194.709,145.6-316.587,145.6h-16.64c-17.643,0-32,14.357-32,32V330.68c0,17.643,14.357,32,32,32h16.64c121.877,0,237.269,53.056,316.587,145.6c2.069,2.411,5.035,3.733,8.107,3.733c1.259,0,2.496-0.213,3.712-0.661c4.181-1.557,6.955-5.547,6.955-10.005V10.68C512.007,6.221,509.233,2.232,505.052,0.675z M490.673,473.869c-82.283-84.544-195.221-132.523-314.027-132.523h-16.64c-5.867,0-10.667-4.8-10.667-10.667V181.347c0-5.867,4.8-10.667,10.667-10.667h16.64c118.827,0,231.765-47.979,314.027-132.523V473.869z"></path>
                                                    <path d="M138.673,170.68H53.34c-29.419,0-53.333,23.915-53.333,53.333v64c0,29.419,23.915,53.333,53.333,53.333h85.333c5.888,0,10.667-4.779,10.667-10.667V181.347C149.34,175.459,144.561,170.68,138.673,170.68z M128.007,320.013H53.34c-17.643,0-32-14.357-32-32v-64c0-17.643,14.357-32,32-32h74.667V320.013z"></path>
                                                    <path d="M228.913,461.923c-0.021-0.021-5.675-6.315-7.424-8.512c-4.629-5.803-9.003-12.352-12.992-19.477c-11.584-20.693-14.656-45.227-8.704-69.12l2.56-10.219c1.429-5.696-2.027-11.499-7.765-12.928c-5.632-1.408-11.499,2.027-12.928,7.765l-2.56,10.219c-7.275,29.163-3.435,59.243,10.795,84.693c4.565,8.128,9.579,15.68,14.976,22.4c1.728,2.176,6.827,7.915,7.104,8.021c2.688,4.715,0.896,8.896,0,10.496c-0.917,1.621-3.669,5.419-9.301,5.419h-29.781c-15.104,0-27.947-10.304-31.317-25.387l-35.243-137.259c-1.451-5.717-7.296-9.173-12.971-7.68c-5.696,1.451-9.131,7.253-7.68,12.971l35.157,136.917c5.44,24.576,26.859,41.771,52.053,41.771h29.781c11.691,0,22.08-6.059,27.84-16.235C236.273,485.603,236.124,473.549,228.913,461.923z"></path>
                                                    <path d="M53.34,234.68c-5.888,0-10.667,4.779-10.667,10.667v21.333c0,5.888,4.779,10.667,10.667,10.667s10.667-4.779,10.667-10.667v-21.333C64.007,239.459,59.228,234.68,53.34,234.68z"></path>
                                                    <path d="M96.007,234.68c-5.888,0-10.667,4.779-10.667,10.667v21.333c0,5.888,4.779,10.667,10.667,10.667s10.667-4.779,10.667-10.667v-21.333C106.673,239.459,101.895,234.68,96.007,234.68z"></path>
                                                </svg>
                                            </div>
                                            Feedback
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#/?page=settings">
                                            <div class="dropdown-item-icon">
                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 490.3 490.3">
                                                    <path d="M0,121.05v248.2c0,34.2,27.9,62.1,62.1,62.1h200.6c34.2,0,62.1-27.9,62.1-62.1v-40.2c0-6.8-5.5-12.3-12.3-12.3 s-12.3,5.5-12.3,12.3v40.2c0,20.7-16.9,37.6-37.6,37.6H62.1c-20.7,0-37.6-16.9-37.6-37.6v-248.2c0-20.7,16.9-37.6,37.6-37.6h200.6 c20.7,0,37.6,16.9,37.6,37.6v40.2c0,6.8,5.5,12.3,12.3,12.3s12.3-5.5,12.3-12.3v-40.2c0-34.2-27.9-62.1-62.1-62.1H62.1 C27.9,58.95,0,86.75,0,121.05z"></path>
                                                    <path d="M385.4,337.65c2.4,2.4,5.5,3.6,8.7,3.6s6.3-1.2,8.7-3.6l83.9-83.9c4.8-4.8,4.8-12.5,0-17.3l-83.9-83.9 c-4.8-4.8-12.5-4.8-17.3,0s-4.8,12.5,0,17.3l63,63H218.6c-6.8,0-12.3,5.5-12.3,12.3c0,6.8,5.5,12.3,12.3,12.3h229.8l-63,63 C380.6,325.15,380.6,332.95,385.4,337.65z"></path>
                                                </svg>
                                            </div>
                                            Déconnexion
                                        </a>
                                    </div>
                                </li>
            
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!-- - - - - - - - - -  -->
        <!-- TOOLBAR            -->
        <!-- - - - - - - - - -  -->

        <div class="toolbar">
            <div class="col-left">
                <div class="actions">
                    <ul class="flex-left">

                        <!-- Toggle Sidebar -->
                        <li>
                            <a data-action="toggle-sidebar">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 480 480">
                                    <g transform="matrix(-1 0 0 1 480 0)"><g>
                                    <path d="M0,32v416h480V32H0z M288,416H32V64h256V416z M448,416H320V64h128V416z"></path>
                                    <rect x="352" y="224" width="64" height="32"></rect>
                                    <rect x="352" y="160" width="64" height="32"></rect>
                                    <rect x="352" y="96" width="64" height="32"></rect>
                                </g></g></svg>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:history.back();" class="waves-effect">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 129 129">
                                    <path d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z"></path>
                                </svg>
                            </a>
                        </li>

                        <!-- <li class="disabled"> -->
                        <li>
                            <a href="javascript:history.forward();" class="waves-effect">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 129 129">
                                    <path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z"></path>
                                </svg>
                            </a>
                        </li>
                    </ul>

                    <ul class="flex-right">
                         
                    </ul>
                </div>
            </div>
            <div class="col-right">
                <div class="actions">

                    <!-- Get : Tools -->
                    <ul class="flex-left">

                    </ul>



                    <ul class="flex-right">
                        
                        <!-- Default Settings -->
                        <li>
                            <a href="?page=settings&main=default">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 54 54">
                                    <path d="M51.22,21h-5.052c-0.812,0-1.481-0.447-1.792-1.197s-0.153-1.54,0.42-2.114l3.572-3.571   c0.525-0.525,0.814-1.224,0.814-1.966c0-0.743-0.289-1.441-0.814-1.967l-4.553-4.553c-1.05-1.05-2.881-1.052-3.933,0l-3.571,3.571   c-0.574,0.573-1.366,0.733-2.114,0.421C33.447,9.313,33,8.644,33,7.832V2.78C33,1.247,31.753,0,30.22,0H23.78   C22.247,0,21,1.247,21,2.78v5.052c0,0.812-0.447,1.481-1.197,1.792c-0.748,0.313-1.54,0.152-2.114-0.421l-3.571-3.571   c-1.052-1.052-2.883-1.05-3.933,0l-4.553,4.553c-0.525,0.525-0.814,1.224-0.814,1.967c0,0.742,0.289,1.44,0.814,1.966l3.572,3.571   c0.573,0.574,0.73,1.364,0.42,2.114S8.644,21,7.832,21H2.78C1.247,21,0,22.247,0,23.78v6.439C0,31.753,1.247,33,2.78,33h5.052   c0.812,0,1.481,0.447,1.792,1.197s0.153,1.54-0.42,2.114l-3.572,3.571c-0.525,0.525-0.814,1.224-0.814,1.966   c0,0.743,0.289,1.441,0.814,1.967l4.553,4.553c1.051,1.051,2.881,1.053,3.933,0l3.571-3.572c0.574-0.573,1.363-0.731,2.114-0.42   c0.75,0.311,1.197,0.98,1.197,1.792v5.052c0,1.533,1.247,2.78,2.78,2.78h6.439c1.533,0,2.78-1.247,2.78-2.78v-5.052   c0-0.812,0.447-1.481,1.197-1.792c0.751-0.312,1.54-0.153,2.114,0.42l3.571,3.572c1.052,1.052,2.883,1.05,3.933,0l4.553-4.553   c0.525-0.525,0.814-1.224,0.814-1.967c0-0.742-0.289-1.44-0.814-1.966l-3.572-3.571c-0.573-0.574-0.73-1.364-0.42-2.114   S45.356,33,46.168,33h5.052c1.533,0,2.78-1.247,2.78-2.78V23.78C54,22.247,52.753,21,51.22,21z M52,30.22   C52,30.65,51.65,31,51.22,31h-5.052c-1.624,0-3.019,0.932-3.64,2.432c-0.622,1.5-0.295,3.146,0.854,4.294l3.572,3.571   c0.305,0.305,0.305,0.8,0,1.104l-4.553,4.553c-0.304,0.304-0.799,0.306-1.104,0l-3.571-3.572c-1.149-1.149-2.794-1.474-4.294-0.854   c-1.5,0.621-2.432,2.016-2.432,3.64v5.052C31,51.65,30.65,52,30.22,52H23.78C23.35,52,23,51.65,23,51.22v-5.052   c0-1.624-0.932-3.019-2.432-3.64c-0.503-0.209-1.021-0.311-1.533-0.311c-1.014,0-1.997,0.4-2.761,1.164l-3.571,3.572   c-0.306,0.306-0.801,0.304-1.104,0l-4.553-4.553c-0.305-0.305-0.305-0.8,0-1.104l3.572-3.571c1.148-1.148,1.476-2.794,0.854-4.294   C10.851,31.932,9.456,31,7.832,31H2.78C2.35,31,2,30.65,2,30.22V23.78C2,23.35,2.35,23,2.78,23h5.052   c1.624,0,3.019-0.932,3.64-2.432c0.622-1.5,0.295-3.146-0.854-4.294l-3.572-3.571c-0.305-0.305-0.305-0.8,0-1.104l4.553-4.553   c0.304-0.305,0.799-0.305,1.104,0l3.571,3.571c1.147,1.147,2.792,1.476,4.294,0.854C22.068,10.851,23,9.456,23,7.832V2.78   C23,2.35,23.35,2,23.78,2h6.439C30.65,2,31,2.35,31,2.78v5.052c0,1.624,0.932,3.019,2.432,3.64   c1.502,0.622,3.146,0.294,4.294-0.854l3.571-3.571c0.306-0.305,0.801-0.305,1.104,0l4.553,4.553c0.305,0.305,0.305,0.8,0,1.104   l-3.572,3.571c-1.148,1.148-1.476,2.794-0.854,4.294c0.621,1.5,2.016,2.432,3.64,2.432h5.052C51.65,23,52,23.35,52,23.78V30.22z"/>
                                    <path d="M27,18c-4.963,0-9,4.037-9,9s4.037,9,9,9s9-4.037,9-9S31.963,18,27,18z M27,34c-3.859,0-7-3.141-7-7s3.141-7,7-7   s7,3.141,7,7S30.859,34,27,34z"/>
                                </svg>
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>


        <!-- - - - - - - - - -  -->
        <!-- NAVBAR             -->
        <!-- - - - - - - - - -  -->

        <div class="navbar">

            <!-- Brand / Logo -->
            <div class="navbar-header">
                <a href="#/" class="brand">
                    <div class="brand-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 178 178">
                            <circle style="fill:#00A3B3;" cx="82.093" cy="82.861" r="82.093"></circle>
                            <path style="fill:#000000;" d="M49.075,0.089c5.532-0.356,12.128,0.412,17.414,1.244 c16.27,2.562,30.392,7.334,42.403,14.021c4.023,2.24,7.944,4.706,11.194,7.689c3.368,3.091,5.739,6.589,7.124,11.647 c2.536,9.266,3.263,21.782,3.505,34.036c0.24,12.143-0.239,24.291-1.357,35.845c-1.109,11.46-3.006,22.309-6.333,31.209 c-1.772,4.743-3.891,8.511-6.897,11.986c-5.713,6.602-12.985,12.016-20.806,16.735c-3.863,2.331-8.109,4.537-12.438,6.332 c-9.214,3.82-18.312,6.896-30.756,6.897c-12.092,0.001-21.201-3.655-27.365-10.29c-5.899-6.35-9.097-16.181-11.534-26.12 c-2.476-10.101-4.12-21.013-4.862-32.679C7.644,97.269,7.23,84.476,8.028,72.005c0.767-11.984,2.191-23.451,4.184-33.357 c2.115-10.515,4.952-20.356,9.837-27.816c3.752-5.729,9.889-8.547,18.206-9.951C43.067,0.406,46.088,0.282,49.075,0.089z M34.714,42.719c0.135,4.77,1.235,9.231,4.523,11.308c3.514,2.218,10.009,1.583,15.831,1.583c17.321,0,36.492-0.227,52.015,0.339 c0.048-4.945-1.212-9.267-4.523-11.308c-4.232-2.609-12.458-1.696-19.449-1.696c-5.439,0-10.963-0.113-16.17-0.113 c-11.375,0-22.452,0.272-32.113-0.453C34.695,42.398,34.705,42.559,34.714,42.719z M34.714,65.786 c0.053,5.007,1.371,9.281,4.862,11.308c2.84,1.648,6.73,1.583,11.308,1.583c18.341,0,39.086-0.248,56.199,0.339 c0.167-6.004-1.931-10.747-6.559-12.325c-4.176-1.425-10.666-0.535-16.057-0.792c-5.767-0.275-11.512,0-16.848,0 c-11.812,0-23.024,0.098-32.792-0.453C34.695,65.466,34.705,65.626,34.714,65.786z M34.714,88.854 c0.096,5.023,1.452,9.627,5.088,11.533c3.764,1.974,10.312,1.244,16.057,1.244c17.107,0,36.083-0.295,51.224,0.452 c0.098-3.566-0.615-6.692-2.036-8.933c-3.051-4.812-10.771-4.185-18.657-4.185c-17.434,0-35.13,0.149-51.562-0.452 C34.695,88.534,34.705,88.693,34.714,88.854z"></path> 
                            <path style="fill:#FFFFFF;" d="M105.026,93.206c1.42,2.24,2.133,5.367,2.035,8.933c-15.141-0.748-34.116-0.452-51.223-0.452 c-5.745,0-12.292,0.729-16.057-1.244c-3.636-1.906-4.992-6.51-5.088-11.534c-0.01-0.16-0.019-0.32,0.113-0.339 c16.432,0.602,34.128,0.452,51.562,0.452C94.254,89.022,101.975,88.395,105.026,93.206z"></path>
                            <path style="fill:#FFFFFF;" d="M102.538,44.696c3.311,2.041,4.571,6.363,4.523,11.308c-15.521-0.566-34.692-0.339-52.015-0.339 c-5.822,0-12.317,0.636-15.831-1.583c-3.288-2.076-4.388-6.537-4.523-11.308c-0.01-0.161-0.019-0.32,0.113-0.339 c9.661,0.724,20.738,0.452,32.113,0.452c5.206,0,10.731,0.113,16.17,0.113C90.08,43,98.306,42.088,102.538,44.696z"></path>
                            <path style="fill:#FFFFFF;" d="M107.061,79.071c-17.113-0.588-37.857-0.339-56.198-0.339c-4.577,0-8.468,0.066-11.308-1.583 c-3.492-2.027-4.809-6.3-4.862-11.308c-0.01-0.16-0.019-0.32,0.113-0.339c9.769,0.55,20.98,0.452,32.792,0.452 c5.337,0,11.082-0.275,16.849,0c5.39,0.257,11.881-0.633,16.057,0.792C105.131,68.325,107.228,73.068,107.061,79.071z"></path>
                        </svg>                    
                    </div>
                    <div class="brand-name">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 540 168">
                            <path style="fill:#FFFFFF;" d="M385.068,139.758c-11.541,17.697-35.604,27.437-66.319,25.341c-28.635-1.952-48.229-13.917-56.424-35.834 c-9.438,24.47-33.778,37.618-68.699,36.032c-33.18-1.508-54.543-15.906-61.569-43.158c-0.014,5.485,0,11.773,0,18.214 c0,8.068,1.711,19.359-3.761,21.975c-3.156,1.51-9.979,0.596-14.847,0.596c-8.767,0-18.413,2.005-20.392-4.949 c-0.945-3.325-0.396-8.603-0.396-13.858c-0.002-13.702,0-28.938,0-42.366c-0.002-9.979,0.392-19.072-2.376-25.935 c-3.047-7.551-9.893-12.977-21.579-12.075c-9.251,0.712-16.736,6.126-22.57,11.086c-1.451,1.234-4.972,3.4-5.543,5.543 c-0.652,2.458,0,6.383,0,9.898c0,16.301,0,32.15,0,48.701c0,8.66,2.04,21.25-4.354,23.56c-3.804,1.372-10.182,0.397-15.047,0.397 c-8.188,0-17.854,1.656-19.599-4.752c-0.937-3.436-0.198-9.113-0.198-14.056c0-22.889,0-47.659,0-70.875 c0-9.478-0.89-19.044,0-28.311c0.783-8.155,10.589-6.334,19.799-6.334c4.777,0,11.691-0.714,15.046,0.594 c4.434,1.728,4.715,5.82,4.354,13.264c6.73-4.953,14.348-10.923,23.957-13.858c10.044-3.067,22.531-3.002,33.258-0.198 c19.984,5.223,31.329,20.294,33.656,42.764c6.51-27.663,28.262-43.855,61.176-44.744c34.388-0.928,60.297,10.018,69.688,35.636 c8.066-22.036,28.272-33.362,56.225-35.437c29.47-2.188,54.491,6.648,66.125,24.746c0.349-7.887-2.694-19.947,4.155-22.37 c2.862-1.012,8.774-0.396,13.066-0.396c22.072,0,44.868,0,66.521,0c9.22,0,18.455-0.616,26.528,0 c1.837,0.14,2.877,0.623,4.356,1.387c0-8.038,0-17.631,0-26.331c0-7.438-0.256-12.67,6.332-13.462c3.61-0.434,9.719,0,14.455,0 c8.956,0,17.591-1.53,18.609,6.532c0.753,5.965,0,12.809,0,19.203c0,37.543-0.003,76.773,0,115.024 c0,9.227,1.68,19.334-4.355,21.578c-3.173,1.181-9.523,0.397-14.451,0.397c-8.354,0-15.23,1.205-18.808-2.178 c-3.193,3.269-10.892,2.178-18.018,2.178c-26.338,0-53.626,0-80.774,0c-7.972,0-16.644,1.417-17.816-5.347 C383.595,152.496,384.747,144.239,385.068,139.758z M177.988,68.885c-8.018,7.91-10.232,25.129-8.712,40.386 c1.563,15.694,6.903,26.762,21.183,29.498c7.596,1.455,15.758,1.272,22.37-1.98c12.83-6.307,15.402-23.377,14.649-42.168 c-0.807-20.238-9.813-33.825-30.883-32.468C188.753,62.657,182.316,64.615,177.988,68.885z M311.028,65.122 c-9.296,4.757-13.457,15.67-14.058,29.896c-0.729,17.327,2.005,32.924,11.483,39.792c7.086,5.136,17.922,5.64,25.934,3.961 c17.107-3.581,22.158-21.212,21.185-42.169c-0.968-20.863-8.463-35.904-31.08-34.447C319.17,62.494,314.561,63.313,311.028,65.122z M388.83,132.037c0.394,0.634,0.711-0.31,0.793-0.396c5.048-5.189,9.824-10.613,14.847-15.642 c15.57-15.568,31.03-32.022,45.932-47.91c0.596-0.637,1.769-1.492,1.385-1.98c-14.027,0-31.063,0-45.535,0 c-7.534,0-16.432,0.767-19.994-1.782C396.613,79.428,397.604,114.306,388.83,132.037z M490.788,76.011 c-19.256,19.257-38.121,38.518-57.015,57.413c-0.499,0.498-1.639,1.238-1.388,2.179c10.368,0,21.023,0,31.676,0 c10.741,0,21.681-0.818,31.873,0c1.357,0.108,2.117,0.356,3.369,0.791c-0.133-23.229,0.263-46.987-0.198-69.886 C496.991,69.829,493.903,72.896,490.788,76.011z"></path>
                        </svg>
                    </div>
                </a>
            </div>

            <!-- Navigation -->
            <div class="navbar-content">
                <ul>

                    <li>
                        <a href="#" title="Nav Title">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 60 60">
                                <path d="M56,44.821c-0.43-4.107-3.853-7.332-7.954-7.332c-2.564,0-4.984,1.287-6.48,3.402c-0.292-0.051-0.587-0.076-0.883-0.076   c-2.32,0-4.381,1.577-5.066,3.813c-1.907,1.131-3.116,3.241-3.116,5.503c0,3.506,2.785,6.358,6.208,6.358h10.774   c0.06,0,0.118-0.004,0.172-0.008c0.062,0.004,0.124,0.008,0.188,0.008h4.31c3.225,0,5.849-2.687,5.849-5.989   C60,47.9,58.358,45.627,56,44.821z M54.151,54.489L49.8,54.486l-0.17-0.006l-10.922,0.009c-2.32,0-4.208-1.955-4.208-4.358   c0-1.666,0.948-3.21,2.417-3.935l0.435-0.214l0.102-0.475c0.331-1.56,1.689-2.692,3.229-2.692c0.344,0,0.687,0.057,1.021,0.168   l0.775,0.26l0.408-0.71c1.096-1.906,3.024-3.044,5.158-3.044c3.265,0,5.955,2.747,5.999,6.123l0.011,0.813l0.799,0.155   C56.677,46.936,58,48.583,58,50.5C58,52.699,56.273,54.489,54.151,54.489z"></path>
                                <path d="M26.525,10.5l-4.712-6.582l-0.001-0.001L21.515,3.5H0v53h28v-2H2v-49h18.485l5,7h0.012l4.69,6.551   c0.195,0.272,0.502,0.417,0.813,0.418V19.5h27v17h2v-26H26.525z M31.537,17.5l-3.579-5H58v5H31.537z"></path>
                            </svg>
                        </a>
                    </li>

                    <li>
                        <a href="#" title="Nav Title">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 60 60">
                                <path d="M56,44.821c-0.43-4.107-3.853-7.332-7.954-7.332c-2.564,0-4.984,1.287-6.48,3.402c-0.292-0.051-0.587-0.076-0.883-0.076   c-2.32,0-4.381,1.577-5.066,3.813c-1.907,1.131-3.116,3.241-3.116,5.503c0,3.506,2.785,6.358,6.208,6.358h10.774   c0.06,0,0.118-0.004,0.172-0.008c0.062,0.004,0.124,0.008,0.188,0.008h4.31c3.225,0,5.849-2.687,5.849-5.989   C60,47.9,58.358,45.627,56,44.821z M54.151,54.489L49.8,54.486l-0.17-0.006l-10.922,0.009c-2.32,0-4.208-1.955-4.208-4.358   c0-1.666,0.948-3.21,2.417-3.935l0.435-0.214l0.102-0.475c0.331-1.56,1.689-2.692,3.229-2.692c0.344,0,0.687,0.057,1.021,0.168   l0.775,0.26l0.408-0.71c1.096-1.906,3.024-3.044,5.158-3.044c3.265,0,5.955,2.747,5.999,6.123l0.011,0.813l0.799,0.155   C56.677,46.936,58,48.583,58,50.5C58,52.699,56.273,54.489,54.151,54.489z"></path>
                                <path d="M26.525,10.5l-4.712-6.582l-0.001-0.001L21.515,3.5H0v53h28v-2H2v-49h18.485l5,7h0.012l4.69,6.551   c0.195,0.272,0.502,0.417,0.813,0.418V19.5h27v17h2v-26H26.525z M31.537,17.5l-3.579-5H58v5H31.537z"></path>
                            </svg>
                        </a>
                    </li>

                    <li>
                        <a href="#" title="Nav Title">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 60 60">
                                <path d="M56,44.821c-0.43-4.107-3.853-7.332-7.954-7.332c-2.564,0-4.984,1.287-6.48,3.402c-0.292-0.051-0.587-0.076-0.883-0.076   c-2.32,0-4.381,1.577-5.066,3.813c-1.907,1.131-3.116,3.241-3.116,5.503c0,3.506,2.785,6.358,6.208,6.358h10.774   c0.06,0,0.118-0.004,0.172-0.008c0.062,0.004,0.124,0.008,0.188,0.008h4.31c3.225,0,5.849-2.687,5.849-5.989   C60,47.9,58.358,45.627,56,44.821z M54.151,54.489L49.8,54.486l-0.17-0.006l-10.922,0.009c-2.32,0-4.208-1.955-4.208-4.358   c0-1.666,0.948-3.21,2.417-3.935l0.435-0.214l0.102-0.475c0.331-1.56,1.689-2.692,3.229-2.692c0.344,0,0.687,0.057,1.021,0.168   l0.775,0.26l0.408-0.71c1.096-1.906,3.024-3.044,5.158-3.044c3.265,0,5.955,2.747,5.999,6.123l0.011,0.813l0.799,0.155   C56.677,46.936,58,48.583,58,50.5C58,52.699,56.273,54.489,54.151,54.489z"></path>
                                <path d="M26.525,10.5l-4.712-6.582l-0.001-0.001L21.515,3.5H0v53h28v-2H2v-49h18.485l5,7h0.012l4.69,6.551   c0.195,0.272,0.502,0.417,0.813,0.418V19.5h27v17h2v-26H26.525z M31.537,17.5l-3.579-5H58v5H31.537z"></path>
                            </svg>
                        </a>
                    </li>

                    <li>
                        <a href="#" title="Nav Title">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 60 60">
                                <path d="M56,44.821c-0.43-4.107-3.853-7.332-7.954-7.332c-2.564,0-4.984,1.287-6.48,3.402c-0.292-0.051-0.587-0.076-0.883-0.076   c-2.32,0-4.381,1.577-5.066,3.813c-1.907,1.131-3.116,3.241-3.116,5.503c0,3.506,2.785,6.358,6.208,6.358h10.774   c0.06,0,0.118-0.004,0.172-0.008c0.062,0.004,0.124,0.008,0.188,0.008h4.31c3.225,0,5.849-2.687,5.849-5.989   C60,47.9,58.358,45.627,56,44.821z M54.151,54.489L49.8,54.486l-0.17-0.006l-10.922,0.009c-2.32,0-4.208-1.955-4.208-4.358   c0-1.666,0.948-3.21,2.417-3.935l0.435-0.214l0.102-0.475c0.331-1.56,1.689-2.692,3.229-2.692c0.344,0,0.687,0.057,1.021,0.168   l0.775,0.26l0.408-0.71c1.096-1.906,3.024-3.044,5.158-3.044c3.265,0,5.955,2.747,5.999,6.123l0.011,0.813l0.799,0.155   C56.677,46.936,58,48.583,58,50.5C58,52.699,56.273,54.489,54.151,54.489z"></path>
                                <path d="M26.525,10.5l-4.712-6.582l-0.001-0.001L21.515,3.5H0v53h28v-2H2v-49h18.485l5,7h0.012l4.69,6.551   c0.195,0.272,0.502,0.417,0.813,0.418V19.5h27v17h2v-26H26.525z M31.537,17.5l-3.579-5H58v5H31.537z"></path>
                            </svg>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="navbar-footer"></div>
        </div>


        <!-- - - - - - - - - -  -->
        <!-- SIDEBAR            -->
        <!-- - - - - - - - - -  -->
        
        <div class="sidebar">
            SIDEBAR
        </div>

        
    </header>

    <main class="workspace">
        {% block body %}{% endblock %}
    </main>

    <div class="hiddendiv common"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="{{ asset('assets/js/base/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/base/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/base/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/base/moment-timezone.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/base/dropdown.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/base/dynatable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/base/util.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/base/modal.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/base/collapse.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/base/stick.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/base/tab.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/base/timer.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/base/waves.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/base/Chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/base/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/base/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/base/actions.js') }}"></script>
    
    {% block javascripts %}{% endblock %}
</body>

</html>