<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mediality :{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <div class="mainSite">
        <div class="middle">
                <div class="menu">

                    <li class="item" id="calendar">
                        <a href="#calendar" class="btn"><i class="far fa-calendar"></i>Calendrier</a>
                        <div class="smenu">
                            <a href="{{path('home')}}">Calendrier</a>
                        </div>
                    </li>

                    <li class="item" id="team">
                        <a href="#team" class="btn"><i class="fas fa-users"></i></i>Team</a>
                        <div class="smenu">
                            <a href="{{path('singleTeam',{'team': 'internet' })}}">Internet</a>
                            <a href="{{path('singleTeam',{'team': 'television' })}}">Télévision</a>
                            <a href="{{path('singleTeam',{'team': 'radio' })}}">Radio</a>
                            <a href="{{path('singleTeam',{'team': 'journal' })}}">Journal</a>
                        </div>
                    </li>

                    <li class="item" id='event'>
                        <a href="#event" class="btn"><i class="far fa-user"></i>Évenements</a>
                        <div class="smenu">
                            <a href="{{path('event')}}">Liste des événements</a>
                            <a href="{{path('eventCreate')}}">Créer un événement</a>
                            <a href="{{path('commandView')}}">Liste des commandes</a>
                            <a href="{{path('commandCreate')}}">Créer une commandes</a>
                        </div>
                    </li>
                    <li class="item" id="messages">
                        <a href="#messages" class="btn"><i class="far fa-envelope"></i>Messages</a>
                        <div class="smenu">
                            <a href="{{path('notifications')}}">Notifications</a>
                        </div>
                    </li>

                    <li class="item" id="settings">
                        <a href="#settings" class="btn"><i class="fas fa-cog"></i>Settings</a>
                        <div class="smenu">
                            <a href="{{path('settings')}}">Compte</a>
                        </div>
                    </li>

                    <li class="item">
                        <a class="btn" href="{{path('logout')}}"><i class="fas fa-sign-out-alt"></i>Logout</a>
                    </li>
                </div>
            </div>

            <div class="workspace">
                {% block body %}{% endblock %}
            </div>

        </div>

    <div class="hiddendiv common"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    {% block javascripts %}{% endblock %}
</body>

</html>